<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dashboard">

	<!-- 할 일  -->
	<select id="selectTodoList" parameterType="String" resultType="com.sp.workMng.WorkMng">
		SELECT * FROM (
		    SELECT  
		           todoNum AS toDoNum 
		         , userId AS userId
		         , subject AS todoSubject
		         , TO_CHAR(creatDt, 'YYYY.MM.DD') AS todoCreatDt
		         , importance AS importance
		    from TODOLIST
		    WHERE userId = #{userId}
		    ORDER BY CASE IMPORTANCE WHEN 'Y' THEN 0 ELSE 1 END , CREATDT DESC
		)
		WHERE ROWNUM &lt;= 5
	</select>
	
	
	<insert id="insertTodoList" parameterType="com.sp.workMng.WorkMng">
		INSERT INTO todolist (
		   USERID
		 , SUBJECT
		 , IMPORTANCE
		)
		VALUES (
		   #{userId}
		 , #{todoSubject}
		 , #{importance}
		)	
	</insert>
	
	<delete id="deleteTodoList" parameterType="Integer">
		DELETE FROM TODOLIST 
		WHERE todonum = #{toDoNum} 
	</delete>

	<!-- PLAN -->
	<select id="selectPlanList" parameterType="String" resultType="com.sp.workMng.WorkMng">
		SELECT * FROM (
		    SELECT  
		          planNum AS planNum
		        , userId AS userId
		        , subject AS planSubject
		        , planTm AS planTm
		        , creatDt AS planCreatDt
		    from PLAN
		    WHERE userId = #{userId}
		    ORDER BY planTm DESC, creatDt DESC
		)
		WHERE ROWNUM &lt;= 5
	</select>
	
	<insert id="insertPlan" parameterType="com.sp.workMng.WorkMng">
		INSERT INTO PLAN (
		   USERID
		 , SUBJECT
		 , PLANTM
		)
		VALUES (
		   #{userId}
		 , #{planSubject}
		 , #{planTm}
		)	
	</insert>	

	<delete id="deletePlan" parameterType="Integer">
		DELETE FROM PLAN 
		WHERE PLANNUM = #{planNum} 
	</delete>
	
	<!-- MEMO  -->
	<select id="selectMemoList" parameterType="map" resultType="com.sp.workMng.WorkMng">
		SELECT * FROM (
		    SELECT  
		          memonum AS memoNum
		        , userid AS userId 
		        , subject AS memoSubject 
		        , content AS memoContent 
		        , TO_CHAR(creatDt, 'YYYY.MM.DD') AS memoCreatDt
		    from MEMO
		    WHERE USERID = #{userId}
		    ORDER BY creatdt DESC
		)
		WHERE ROWNUM &lt;= 5
	</select>
	
	<select id="selectMemoContent" parameterType="map" resultType="com.sp.workMng.WorkMng">
		    SELECT  
		          memonum AS memoNum
		        , subject AS memoSubject 
		        , content AS memoContent 
		    from MEMO
		    WHERE memoNum = #{memoNum}
	</select>

	<insert id="insertMemo" parameterType="com.sp.workMng.WorkMng">
		INSERT INTO MEMO (
		   USERID
		 , SUBJECT
		 , CONTENT
		)
		VALUES (
		   #{userId}
		 , #{memoSubject}
		 , #{memoContent}
		)	
	</insert>	

	<delete id="deleteMemo" parameterType="Integer">
		DELETE FROM MEMO 
		WHERE MEMONUM = #{memoNum} 
	</delete>
	
</mapper>