@charset "UTF-8";

.boardTitle {
	font-weight: bold;
	font-size: 13pt;
	margin-bottom:10px;
	color: #636262;
	list-style: none;
	width: 45%;
	height: 200px;
	margin: 6px;
	float: left;
}


.leftPadding{
	padding-left: 9px;
	color: #011F3A;
	font-size: 27px;
	/* font-family: 'Jua', sans-serif; */
}

.list{
	font-weight: 700px;
	font-size: 12pt;	
	color: #ffffff;
}

.table{
	border-collapse: separate;
	border-radius: 8px; 
	border: 3px solid #F4F1F2;
	padding: 7px;
}	